body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#output ul {
  height: 500px;
  overflow-y: scroll;
}

.jumbotron {
  background-image: radial-gradient(#bfc8df, #788bbb, #3f4c6e);
  color: #111111;
  text-align: center;
}

.card {
  background-color: #3f4c6e;
  color: #f5f5f5;
}
